* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: white;
  line-height: 1.6;
}


.navbar {
  display: flex;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  width: 60px;
  margin-right: 15px;
}

.brand-name {
  font-weight: 600;
  color: #00bcd4;
}


.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero span {
  color: #00bcd4;
}

.hero p {
  color: #bbbbbb;
  margin-bottom: 30px;
}

.btn {
  background-color: #00bcd4;
  color: black;
  padding: 12px 30px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: white;
  color: black;
}

.services {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 80px 50px;
  flex-wrap: wrap;
}

.card {
  background-color: #111;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card h3 {
  color: #00bcd4;
  margin-bottom: 10px;
}

.card p {
  color: #cccccc;
  font-size: 14px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 188, 212, 0.3);
}


footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  font-size: 14px;
  color: #aaaaaa;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .services {
    padding: 40px 20px;
  }
}
